<md-dialog aria-label="Mango (Fruit)">
<form>
  <md-toolbar>
  <div class="md-toolbar-tools">
    <h2>expire(key,ttl)</h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
    <md-icon md-svg-src="../static/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
  </md-button>
</div>
</md-toolbar>
<md-dialog-content style="max-width:800px;max-height:810px; ">
<md-tabs md-dynamic-height md-border-bottom>
<md-tab label="DESCRIPTION">
<md-content class="md-padding">
<h1 class="md-display-2">DESCRIPTION</h1>
<p>In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
</md-content>
</md-tab>
<md-tab label="CODE">
<md-content class="md-padding">
<h1 class="md-display-2">CODE SYNTAX</h1>
<code>r.expire(key_name,ttl)</code>
<ul>
  <li>Here key_name is your key which you want to delete</li>
  <li>ttl(Time to live) should be in seconds</li>
</ul>
</md-content>
</md-tab>
<md-tab label="IMAGE">
<md-content class="md-padding">
<h1 class="md-display-2">CODE EXECUTION IMAGE</h1>
<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
</md-content>
</md-tab>
</md-tabs>
</md-dialog-content>

<!-- <md-dialog-actions layout="row">
<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
More on Wikipedia
</md-button>
<span flex></span>
<md-button ng-click="answer('not useful')" >
Not Useful
</md-button>
<md-button ng-click="answer('useful')" style="margin-right:20px;" >
Useful
</md-button>
</md-dialog-actions> -->
</form>
</md-dialog>

