<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" content="width=device-wdth,initial-scale=1">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/angular-material.min.css">
	<link rel="stylesheet" href="../static/css/custom.css">
</head>
<body ng-app="redisApp">
	<div ng-controller="RedisCtrl" class="md-padding" ng-cloak>
		<div id="top_header">
			<div class="jumbotron">
				<div class="container">
					<h1 class="top_header_content">Redis-py Cheat Sheet</h1>
					<h3 class="top_header_paragraph">A quick reference for <strong>Redis+Python</strong></h3>
				</div>
			</div>
		</div>
		<div id="instructions">
			<div class="jumbotron">
			<h2>Instructions before using <strong><i>Commands</i></strong>:</h2>
				<ul>
					<li>First install redis-server in ubuntu by command <code>sudo apt-get install redis-server</code></li>
					<li>Now install redis client by command <code>sudo apt-get install redis-cli</code></li>
					<h3>In python: </h3>
					<li>First install redis by <code>pip install redis</code>.</li>
					<li>Now use <code>import redis</code> in your <code>(filename).py</code> file or in python shell(which starts with)<h4><strong>>>></strong></h4></li>
					<li>Make a redis connection using <code>r = redis.StrictRedis(host='localhost',port=6379,db=0)</code> . Click <a>here</a> to check all options.</li>
					<li> You can make a connection Pool too. </li>
				</ul>
			</div>
		</div>
		<div id="commands">
			<div class="jumbotron">
				<!-- <div class="container"> -->
					<section layout="row" layout-sm="column" layout-align"center center" layout-wrap>
						<md-button class="md-raised md-primary" ng-click="showExpireDialog($event)">expire</md-button>
						<md-button class="md-raised md-primary" ng-click="showSetDialog($event)">set</md-button>
						<md-button class="md-raised md-primary" ng-click="showGetDialog($event)">get</md-button>
						<md-button class="md-raised md-primary" ng-click="showKeysDialog($event)">keys</md-button>
						<md-button class="md-raised md-primary" ng-click="showAppendDialog($event)">append</md-button>
					</section>
				<!-- </div> -->
			</div>
		</div>
	</div>

	<!--Angular material require these libraries -->
	<script type="text/javascript" src="../static/js/angular.min.js"></script>
	<script type="text/javascript" src="../static/js/angular-animate.min.js"></script>
	<script type="text/javascript" src="../static/js/angular-aria.min.js"></script>
	<script type="text/javascript" src="../static/js/angular-message.min.js"></script>
	<!-- Now angular Material -->
	<script type="text/javascript" src="../static/js/angular-material.min.js"></script>
	<script type="text/javascript" src="../static/js/app.js"></script>
</body>
</html>