<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" content="width=device-wdth,initial-scale=1">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/angular-material.min.css">
	<link rel="stylesheet" href="../static/css/custom.css">
</head>
<body ng-app="redisApp">
	<div id="whole_page">
		<div id="top_header">
			<div class="jumbotron">
				<div class="container">
					<h1 class="top_header_content">Redis-py Cheat Sheet</h1>
					<h3 class="top_header_paragraph">A quick reference for <strong>Redis+Python</strong></h3>
				</div>
			</div>
		</div>
		<div id="main_content">
			<div class="container">
				<md-grid-tile>
					<md-grid-tile-header>
						<h3>This is a header</h3>
					</md-grid-tile-header>
				</md-grid-tile>
			</div>
		</div>
	</div>
	<!--Angular material require these libraries -->
	<script type="text/javascript" src="../static/js/angular.min.js"></script>
	<script type="text/javascript" src="../static/js/angular-animate.min.js"></script>
	<script type="text/javascript" src="../static/js/angular-aria.min.js"></script>
	<script type="text/javascript" src="../static/js/angular-message.min.js"></script>
	<!-- Now angular Material -->
	<script type="text/javascript" src="../static/js/angular-material.min.js"></script>
	<script type="text/javascript" src="../static/js/app.js"></script>
</body>
</html>